main {
  font-family: Consolas, monospace;
  font-size: 1rem;
  font-weight:normal;
  line-height:1.25rem;
}
h1 { font-family: Consolas, monaco, monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: Consolas, monaco, monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: Consolas, monaco, monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Consolas, monaco, monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Consolas, monaco, monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
.ratDropBox {
  border-radius: 10px;
  border: 4px gray dotted;
  background-color:lightgray;
  display:flex;
  flex-direction:column;
  min-height:1.5em;
}
.darken-temporary {
  filter:opacity(80%);
}
.dropBox {
  border: 3px dotted black;
  border-radius: 10px;
  background-color: lightgray;
}
.mouseOver {
  font-weight:bold;
}